.box {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}

.inner-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-0 {
  flex-basis: 100%;
  height: 90px;
  width: 90px;
  background-color: #8e998c;
}

.search-flex-item {
  flex-basis: 70%;
  height: 90px;
  width: 90px;
  background-color: #293527;
}

.search-button-flex-item {
  flex-basis: 25%;
  background-color: black;
}

.linebreaker {
  flex-basis: 100%;
}

.search-result-flex-item {
  flex-basis: 70%;
  background-color: white;
  border: 5px solid black;
  margin-right: auto;
}
